* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-decoration: none;

}
:root {
  --col1: #9d22f4;
  --col2: #f2ebef;
  --col3: #d577d537;
  --col4: #0f0019;
}
.container {
  height: 100vh;
  width: 100vw;
  background-color: var(--col2);
}
.nav {
  width: 100vw;
  height: 80px;
}
.achariya,
.line {
  color: red;
  font-weight: bold;
  font-size: 20px;
}
.approvel {
  font-size: 10px;
}
.header-ul {
  display: flex;
  justify-content: space-between;
}
.header-li:nth-child(2) {
  margin-top: 10px;
}

.header-li img {
  height: 80px;
  width: 70px;
}
.theme img{
  height: 30px;
  background-color: rgba(255, 255, 255, 0.503);
  border-radius: 50%;

}
.theme{
  display: flex;
  height: 100%;
  align-items: center;
}

.content{
  height: 80%;
  background-color:var(--col1);
  width: 80%;
  margin-left: 10%;
  margin-top: 3%;
  box-shadow: -2px -2px 8px var(--col1),2px 2px 8px var(--col1);
  border-radius: 10px;
  display: grid;
grid-template-areas: 
'dep dep'
'seca secb'
'thia thib'
'fourth fourth'
;
gap: 5px;
}
.section-IIA{
grid-area: seca;

}
.section-IIB{
  grid-area: secb;

}
.section-IIIA{
  grid-area: thia;

}
.section-IIIB{
  grid-area: thib;

}
.section-IV{
  grid-area: fourth;
}
.title{
grid-area: dep;
font-family: 'Times New Roman', Times, serif;
font-weight: bold;
color: var(--col1);


}
:where(.content a,.title) 
{
  background-color: var(--col2);
  border-radius: 10px;
  color: var(--col1);


}
.content a{
  font-size: 20px;
}
.content a:active{
  scale: .99;
}
section{
  display: grid;
  place-items: center;
  height: 100%;
}
@media screen and (width<=600px){
  .achariya,
.line{
  font-size: 10px;
}
.approvel {
  font-size: 5px;
}
.header-li:nth-child(2) {
  display: flex;
flex-direction: column;
justify-content: center;
}
.header-li img {
  height: 50px;
  width: 40px;
}
.nav{
height: 50px;
}
.content{
  width: 90%;
  margin-left:5% ;
  box-shadow: none;
  grid-template-areas: 
'dep'
'seca'' secb'
'thia'' thib'
'fourth'
;
background-color: transparent;
grid-template-rows: .5fr repeat(5,1fr);
}


}