


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-decoration: none;
  }
  :root {
    --col1: #9d22f4;
    --col2: #f2ebef;
  
  }
  .container {
    height: 100vh;
    width: 100vw;
    background-color: var(--col2);
  }
  .nav {
    width: 100vw;
    height: 80px;
    border-bottom: 2px solid var(--col1);
  }
  .achariya,
  .line {
    color: red;
    font-weight: bold;
    font-size: 20px;
  }
  .approvel {
    font-size: 10px;
  }
  .header-ul {
    display: flex;
    justify-content: space-between;
  }
  .header-li:nth-child(2) {
    margin-top: 10px;
  }
  
  .header-li img {
    height: 80px;
    width: 70px;
  }
  .theme img{
    height: 30px;
    background-color: rgba(255, 255, 255, 0.503);
    border-radius: 50%;
  
  }
  .theme{
    display: flex;
    height: 100%;
    align-items: center;
  }
  
.content-tableMain{
    width: 80%;
margin-left: 10%;
    margin-top: 5%;
}
table{
    border-collapse: collapse;
    width: 100%;
overflow: hidden;
    font-size: 1rem;
    color: var(--col1);
    background-color: var(--col2);
}
th{
    color: var(--col2);
    background-color: var(--col1);


}
tr{
    height: 40px;
    border-bottom: 1px solid var(--col1);

}
td{
text-align: center;
}
caption{
    color:rgb(41, 221, 25);
  
    font-size: 20px;
    font-weight: bold;
}
tr:nth-child(odd){
}
td:nth-child(odd){
}
